<div class="row">
    <div class="col-md-12">
        {{#each data.employee}}
        <h2>{{this.firstName}} {{this.lastName}} - Employee: {{this.employeeNum}}</h2> 
        <hr>
        <form method="post" action="/employee/update">
            <fieldset>
                <legend>Personal Information</legend>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="firstName">First Name:</label>
                            <input class="form-control" id="firstName" name="firstName" type="text" value="{{this.firstName}}" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lastName">Last Name:</label>
                            <input class="form-control" id="lastName" name="lastName" type="text" value="{{this.lastName}}" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input class="form-control" id="email" name="email" type="email" value="{{this.email}}" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="SSN">Social Security Num:</label>
                            <input class="form-control" id="SSN" name="SSN" type="text" value="{{this.SSN}}" disabled />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="addressStreet">Address (Street):</label>
                            <input class="form-control" id="addressStreet" name="addressStreet" type="text" value="{{this.addressStreet}}" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="addressCity">Address (City):</label>
                            <input class="form-control" id="addressCity" name="addressCity" type="text" value="{{this.addressCity}}" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="addressState">Address (State):</label>
                            <input class="form-control" id="addressState" name="addressState" type="text" value="{{this.addressState}}" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="addressPostal">Address (Zip Code):</label>
                            <input class="form-control" id="addressPostal" name="addressPostal" type="text" value="{{this.addressPostal}}" />
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Company Information</legend>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="isManager">Manager:</label>
                            <input class="form-control" id="isManager" name="isManager" type="checkbox" checked="{{this.isManager}}" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="employeeManagerNum">Employee's Manager Number:</label>
                            <input class="form-control" id="employeeManagerNum" name="employeeManagerNum" type="text" value="{{this.employeeManagerNum}}" />
                        </div>
                    </div>
                    <div class="col-md-3">
                            <label>Status:</label><br>
                            <label class="checkbox-inline">
                                <input type="radio" id="statusFT" name="status" checked="" value="Full Time"> Full Time
                            </label>
                            <label class="checkbox-inline">
                                <input type="radio" id="statusPT" name="status" value="Part Time"> Part Time
                            </label>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                                <label for="departmentId">Department</label>
                                {{#if data.department}} 
                                    <select class="form-control" name="department" id="department"> 
                                    <option value="">Select Department</option> 
                                    {{#each data.department}} 
                                        <option value="{{this.departmentId}}" {{#if selected}} selected {{/if}} >{{this.departmentName}} </option> 
                                    {{/each}} 
                                    </select> 
                                {{else}} 
                                    <div>No Departments</div> 
                                {{/if}} 
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="hireDate">Hire Date</label>
                            <input class="form-control" id="hireDate" name="hireDate" type="text" value="{{this.hireDate}}" disabled>
                        </div>
                    </div>
                </div>
            </fieldset>
            <hr />
            <input type="submit" class="btn btn-primary pull-right" value="Update Employee" /><br /><br /><br />
        </form>
    </div>
    {{/each}}
</div>
